.content{
    border: 20px solid rgb(230, 84, 84);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    color: rgb(230, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4em;
    margin-top: 1em;
}
.h2{
    margin: 1em;
}